@keyframes slide-down {
  0% {
    transform: translateY(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@mixin slide-down($duration) {
  animation: slide-down $duration ease-in-out both;
}

@mixin hoover {
  background-color: #d2e6f0;
}

li {
  display: inline-flex;
  flex-wrap: nowrap;
  word-wrap: none;
  align-items: center;
  margin: 0.5rem;
  cursor: pointer;
  &:hover {
    @include hoover;
  }

  .arrow {
    font-size: 1.6em;
    padding-left: 6px;
    margin-bottom: 12px;
  }
}

.categories {
  z-index: 100;
  width: 55%;

  .broadCategories {
    display: flex;
    justify-content: space-between;
    transition-duration: 0.5s;
  }

  .categoryItems {
    z-index: 100;
    position: absolute;
    top: 64px;
    background-color: #fff;
    width: 50%;
    @include slide-down(0.5s);
    li {
      display: flex;
      flex-direction: row;
    }
  }
}
