.searchBar {
}

.searchIcon {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(122, 163, 204);
}

.searchBar input {
  width: 40vw;
  margin: 0.5rem;
  padding: 0.4rem 0;
  border: 1px solid rgb(122, 163, 204);
  border-radius: 10px;
}

.searchBar button {
  margin: 0.5rem;
  border: 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: rgb(122, 163, 204);
}

.searchBar button:hover,
.searchIcon:hover {
  cursor: pointer;
  text-decoration: underline;
}
