@mixin hoover {
  cursor: pointer;
  text-decoration: underline;
}

.searchBar {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;

  form {
    margin: 0 0.5rem;
    display: inline;
  }
  button {
    display: inline;
    margin: 0.5rem;
    color: black;

    &:hover {
      @include hoover;
    }
  }
}
