$inputbg: #a9d1d0;
$inputbgfocus: rgb(190, 210, 210);

@keyframes slide-in {
  0% {
    transform: translateX(100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin slide-in($duration) {
  animation: slide-in $duration ease-in-out both;
}

@mixin hoover {
  cursor: pointer;
  text-decoration: underline;
}

@mixin foocus {
  background-color: $inputbgfocus;
}

.searchBar {
  margin-top: 0.2rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  .formContainer {
    @include slide-in(0.5s);
  }

  form {
    margin: 0 0.5rem;
    display: inline;

    input[type="text"] {
      border-radius: 5px;
      border: 1px solid black;
      padding: 0.3rem;
      padding-right: 30px;
      width: 20vw;
      height: 21px;
      margin-left: 15px;
      &:focus {
        outline: none !important;
        border: 2px solid rgb(76, 210, 210);
      }

      @media (max-width: 812px) {
        width: 15vw;
      }
    }

    input[type="date"] {
      border-radius: 2px;
      margin: 0.5rem;
      padding: 0.4rem;
      background-color: #fefefe;
      border: none;
      outline: 1px solid black;
      &:focus {
        @include foocus;
      }
    }
    .submitButton {
      transform: scale(1.2) translate(-25px, 3px);

      &:hover {
        transform: scale(1.3) translate(-25px, 3px);
      }
    }
  }
  button {
    border-radius: 2px;
    display: inline;
    color: black;
    border: none;
    outline: none;
    font-size: 1rem;
    height: 27px;
    width: 26px;
    background-color: #fefefe00;
    transform: scale(1.2);

    &:hover {
      @include hoover;
      transform: scale(1.3);
    }
  }
}
