@keyframes slide-in {
  0% {
    transform: translateX(-100%);
    opacity: 0.1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@mixin slide-in($duration) {
  animation: slide-in $duration ease-in-out both;
}

header {
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #fafafa;
  padding: 0 4%;
  z-index: 10000;

  h1 {
    @media (max-width: 1023px) {
      font-size: 1.2em;
      text-align: center;
      width: 60%;
      margin-right: -10px;
    }
  }

  .hamburgerMenu {
    display: none;
  }

  @media (max-width: 766px) {
    .categories {
      display: none;
    }

    .hamburgerMenu {
      display: block;
      font-size: 2rem;
      position: absolute;
      right: 5%;
    }

    .navPhone nav {
      display: block;
      position: absolute;
      top: 4rem;
      right: 0;
      height: auto;
      width: 15rem;

      .broadCategories {
        display: flex;
        flex-direction: column;
        border: 1px solid rgb(178, 178, 178);

        li {
          background-color: #fafafa;
          display: flex;
          flex-direction: column;

          .categoryItems {
            @include slide-in(0.5s);
            height: auto;
            width: min-content;
            position: relative;
            top: 0;
            border: 0;
            border-top: 1px solid rgb(178, 178, 178);
            margin-bottom: 1rem;
            transition: height 0.3s ease;
            li {
              width: 10rem;
            }
          }
        }
      }
    }
  }
}
