a {
  color: black;
  text-decoration: none;
}

@mixin hoover {
  cursor: pointer;
  text-decoration: underline;
}

.eventContainer {
  width: 90%;
  margin: 0 auto;

  .card {
    width: 99%;
    max-width: none;
    height: min-content;
    margin: 2rem 0;
    display: flex;
    text-align: left;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.75);

    @media (max-width: 519px) {
      padding: 0;
    }

    img {
      object-fit: cover;
      margin-right: 1rem;
      width: 33%;
      max-width: 15rem;

      @media (max-width: 519px) {
        width: 100%;
        max-width: none;
        margin-right: 0;
        margin-bottom: 5px;
      }

      &:hover {
        @include hoover;
      }
    }

    .card_info {
      width: 67%;

      @media (max-width: 519px) {
        width: 90%;
      }
    }

    .tag {
      display: inline-block;
      margin: 0.5rem;
      margin-left: 0;
      border: black 1px solid;
      border-radius: 20px;
      padding: 0.5rem 0.7rem;

      @media (max-width: 519px) {
        font-size: 10px;
      }
    }

    .like {
      position: absolute;
      bottom: 18px;
      left: 25px;
      height: 20px;
      width: 20px;
      z-index: 15;

      p {
        position: absolute;
        left: 30px;
        top: -2px;
        font-size: 15px;
      }
    }
  }

  .cardListNav {
    width: 85%;
    margin: 5rem auto 0 auto;
    position: relative;
  }

  .prevButton {
    position: absolute;
    left: 20px;
    bottom: 0;
  }
  .nextButton {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}
