a {
  color: black;
  text-decoration: none;
}

@mixin hoover {
  cursor: pointer;
  text-decoration: underline;
}

.eventContainer {
  width: 80vw;
  padding: 1rem;
  margin: 0 auto;

  .card {
    width: 100%;
    height: min-content;
    // min-height: 10rem;
    margin: 1rem 0;
    display: flex;
    text-align: left;
    // border: 1px solid blue;
    border-radius: 5px;
    padding: 0.5rem;
    box-shadow: 2px 3px 15px 1px rgba(0, 0, 0, 0.75);

    img {
      object-fit: cover;
      margin-right: 1rem;
      width: 33%;
      max-width: 15rem;
      &:hover {
        @include hoover;
      }
    }

    .tag {
      display: inline-block;
      margin: 0.5rem;
      border: black 1px solid;
      border-radius: 20px;
      padding: 0.5rem 0.7rem;
    }

    .like {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 20px;
      width: 20px;

      path {
        fill: #a3d7f1;
      }
    }
  }

  .cardListNav {
    width: 85%;
    margin: 5rem auto 0 auto;
    position: relative;
  }

  .prevButton {
    position: absolute;
    left: 20px;
    bottom: 0;
  }
  .nextButton {
    position: absolute;
    right: 20px;
    bottom: 0;
  }
}
