.heroBanner {
  position: relative;
  width: 100%;
  height: 71vh;
  background-image: url("https://images.unsplash.com/photo-1501238295340-c810d3c156d2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  text-align: center;

  p {
    position: absolute;
    top: 65%;
    left: 15%;
    font-size: 4.5rem;
    color: hwb(0 100% 0%);
    font-weight: 700;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 20%);
  }

  .sports {
    background-image: url("https://images.unsplash.com/photo-1564833592193-3270b5618e7f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2835&q=80");
    background-position: center;
  }

  .kids {
    background-image: url("https://images.unsplash.com/photo-1611153661566-9cb802ffe968?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2772&q=80");
    background-position: center;
  }

  .art {
    background-image: url("https://images.unsplash.com/photo-1508807526345-15e9b5f4eaff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2910&q=80");
    background-position: center;
  }
}

.frame {
  position: relative;
  height: 71vh;

  &::after {
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 25%,
      rgba(255, 255, 255, 0.4948573179271709) 35%,
      rgba(255, 255, 255, 0.20073967086834732) 45%,
      rgba(255, 255, 255, 0) 55%
    );
    bottom: 0;
    left: 0;
    right: 0;
    // background-size: 100px 20px;
    // background-image: url(./mask.svg);
    // background-repeat: repeat-x;
    z-index: 10;
    // transform: rotate(180deg);
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: hwb(0 100% 0%) !important;
}
