.eventPage {
  box-sizing: border-box;

  .eventInfo {
    display: flex;
    width: 100%;
    // min-height: 25vh;
    background-color: #d2e6f0;
    margin-bottom: -2px;
    position: relative;

    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  .views_count {
    position: absolute;
    right: 10%;
    bottom: 5px;

    @media (max-width: 1023px) {
      right: 2%;
    }

    small {
      font-style: italic;
    }
  }

  .description {
    word-wrap: break-word;
    margin: 5%;
    text-align: justify;
    font-size: 18px;
  }

  .imageContainer {
    width: 55%;
    height: inherit;
    position: relative;

    @media (max-width: 1023px) {
      width: 100%;
    }

    .image {
      width: 100%;
      min-height: 100%;
      max-height: 50vh;
      object-fit: cover;
      object-position: center;
    }

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      padding: 0.1rem 0.25rem;
      border-radius: 3px;
      background-color: white;
      margin: 0.25rem;
    }

    &::after {
      content: "";
      height: 100%;
      width: 20px;
      position: absolute;
      right: 0;
      top: 0;
      background-image: url("./mask.svg");
      z-index: 10;

      @media (max-width: 1023px) {
        content: "";
        width: 100%;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: unset;
        background-size: 100px 20px;
        background-image: url(./mask_mobile.svg);
        background-repeat: repeat-x;
        z-index: 10;
        transform: rotate(180deg);
      }
    }
  }
}

.map {
  width: 100%;
  height: 50vh;
  min-height: 300px;
  margin-bottom: 5%;
}

.eventData {
  width: 45%;
  padding: 25px 5%;
  overflow: hidden;
  position: relative;

  @media (max-width: 1023px) {
    width: 90%;
  }

  h2 {
    font-size: xx-large;
  }
  .date {
    position: relative;
    padding-left: 25px;
    margin-top: 1em;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("./calendar.svg");
    }
  }

  .price {
    position: relative;
    padding-left: 25px;
    margin-top: 1em;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("./euro.svg");
    }
  }

  .location {
    position: relative;
    padding-left: 25px;
    margin-top: 1em;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("./location.svg");
    }
  }

  .web {
    position: relative;
    display: block;
    padding-left: 25px;
    margin-top: 1em;

    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      background-size: 18px 18px;
      background-repeat: no-repeat;
      background-position: center;
      background-image: url("./web.svg");
    }

    &:hover {
      text-decoration: underline;
    }
  }

  .short_description {
    margin-top: 1.2em;

    @media (max-width: 519px) {
      margin-bottom: 1.5em;
    }
  }

  p {
    padding-left: 25px;
  }
}
