.eventPage {
  border: 1px solid red;
  box-sizing: border-box;
  padding: 1rem;
}

.eventInfo {
  display: flex;
}

.leftColumn {
  min-width: 20vw;
  margin-top: 1rem;
}

.rightColumn {
  word-wrap: break-word;
  border: 1px solid green;
  margin-top: 1rem;
}

.image {
  max-width: 300px;
}
