.eventPage {
  box-sizing: border-box;

  .eventInfo {
    display: flex;
    width: 100%;
  }

  .description {
    word-wrap: break-word;
    margin: 5%;
    text-align: justify;
  }

  .image {
    width: 50%;
    object-fit: cover;
    object-position: left;
  }
}

.eventData {
  margin-top: 5%;
  margin-left: 3rem;
  margin-right: 5%;

  h2 {
    font-size: xx-large;
  }
}
