.card {
  display: flex;
  align-items: center;
  width: 90%;
  margin: auto;
  margin-bottom: 50px;

  img {
    width: 250px;
    margin-right: 25px;
  }

  .name {
    font-size: xx-large;
    font-weight: bold;
  }
}

.card_info {
  display: flex;
  flex-direction: column;
}

.date {
  font-size: small;
  color: gray;
}

.location {
  color: gray;
}

.cardImage {
  width: 200px;
  height: 200px;
}
